<mat-card>
    <form (submit)="onPostData(postForm)" #postForm="ngForm">
    <mat-form-field>
        <input type="text" matInput name="title" placeholder="post title here" reduired ngModel>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput name="content" rows="10" placeholder="post content" required ngModel>
            
        </textarea>
    </mat-form-field>
    <button mat-raised-button color="accent"  type="submit">
        Save post
    </button>
    </form>
</mat-card>
<app-postlist></app-postlist>
